<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/create.css">
  <title>Criar curso</title>
</head>
<body>
  <%- include("./partials/header") %>
  <div class="container">
  <h2 class="title-create">Cadastrar Curso</h2>
  <% if (errors) { %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% errors.errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <% if (alert == true) { %>
    <div class="alert alert-success" id="alert-success">
      Curso adicionado com sucesso.
    </div>
  <% } %> 
  <form action="/course" class="createCourse" method="POST">
  <%- include("./partials/form") %>
  </form>
  <a class="home" href="/"> Voltar a página inicial</a>
 </div>
</body>
</html>